<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

	<h2>測試第一個</h2>
	<p> @ViewFunc.Test("這是測試版") </p>

	<h2>測試第二種的 true</h2>
	@ViewFunc.GetStatusName(true);

	<h2>測試第二種的 false</h2>
	@ViewFunc.GetStatusName(false);

</body>
</html>
