<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>分導頁</title>
	<meta charset="utf-8" />
</head>
<body>
	<a href='@Url.Action("Index")'>這是只有權限1可以進來的</a><br />
	<a href='@Url.Action("Index2")'>這是只有權限2可以進來的</a><br />
	<a href='@Url.Action("Index3")'>這是只有權限2或3可以進來的</a><br />
</body>
</html>
