@{
	ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<input type="text" name="roles" required />
			<button type="submit">Send</button>
		}
	</body>
</html>
