@{
    ViewBag.Title = "Tax";
}

<h2>計算營業稅</h2>

<form action="../../home/tax" method="post">
    商品未稅金額：<input type="number" name="price" value="@ViewBag.price" />（請輸入正整數）
    <br />
    稅金： @ViewBag.tax
    <br />
    總金額： @ViewBag.total
    <br />
    <input type="submit" value="送出"/><br />

    <p style="color:red;">@ViewBag.message</p>
</form>

